	body {
		background-color: #f6f6f6;
		font-size: 14px;
		font-weight: 400;
		font-family: "Nunito", "Segoe UI", arial;
		color: #6c757d;
		padding: 0;
		margin: 0;
	}
	
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	
	.chat-content,
	.chat-scroll {
		overflow-y: auto;
		background-color: #f8f8f8;
		height: 200px;
		padding: 10px;
	}
	
	.chat-content::-webkit-scrollbar,
	.chat-scroll::-webkit-scrollbar {
		/*滚动条整体样式*/
		width: 4px;
		/*高宽分别对应横竖滚动条的尺寸*/
		height: 4px;
		scrollbar-arrow-color: red;
	}
	
	.chat-content::-webkit-scrollbar-thumb,
	.chat-scroll::-webkit-scrollbar-thumb {
		/*滚动条里面小方块*/
		border-radius: 5px;
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
		background: rgba(0, 0, 0, 0.2);
		scrollbar-arrow-color: red;
	}
	
	.chat-content::-webkit-scrollbar-track,
	.chat-scroll::-webkit-scrollbar-track {
		/*滚动条里面轨道*/
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
		border-radius: 0;
		background: rgba(0, 0, 0, 0.1);
	}
	
	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	
	.home-header {
		text-align: center;
		margin: 0 auto;
		height: 50px;
		line-height: 50px;
		padding: 15px 0;
	}
	
	.container {
		padding-left: 100px;
		padding-right: 100px;
		position: relative;
	}
	
	.row {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	
	.main_content {
		margin: 0 auto;
		width: 1300px;
	}
	
	.my_ulist {
		width: 300px;
		padding: 0 15px;
		float: left;
	}
	
	.my_chatbody {
		width: 900px;
		padding: 0 15px;
		float: left;
	}
	
	.card {
		background-color: #fff;
		border-radius: 10px;
		border: none;
		position: relative;
		margin-bottom: 30px;
		box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
	}
	
	.u-list {
		transition: 0.5s;
	}
	
	.u-list .chat-list li:hover {
		background: #efefef;
		cursor: pointer;
	}
	
	.form-control {
		background-color: #fdfdff;
		border-color: #e4e6fc;
		font-size: 14px;
		padding: 10px 15px;
		height: 42px;
	}
	
	.m-b-20 {
		margin-bottom: 20px;
	}
	
	.chat-header {
		margin: 10px;
	}
	
	.chat-header h2 {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.list-unstyled {
		padding-left: 0;
		list-style: none;
	}
	
	.u-list .chat-list li.active {
		background: #efefef;
	}
	
	.u-list .chat-list li {
		padding: 10px 15px;
		list-style: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;
	}
	
	.u-list .chat-list img {
		width: 45px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
	}
	
	.u-list img {
		float: left;
		border: 1px solid #fff;
		-webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
	}
	
	img {
		vertical-align: middle;
		border-style: none;
	}
	
	.u-list .about {
		float: left;
		padding-left: 8px;
	}
	
	.u-list .chat-list li .name {
		font-size: 15px;
		font-weight: 500;
	}
	
	.u-list .status {
		color: #999;
		font-size: 13px;
	}
	
	.online {
		margin-right: 3px;
		font-size: 10px;
		color: #86bb71;
	}
	
	.offline {
		margin-right: 3px;
		font-size: 10px;
		color: #e38968;
	}
	
	.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-feature-settings: 'liga';
		font-feature-settings: 'liga';
	}
	/*聊天区域*/
	
	.chat .chat-header {
		padding: 20px;
		border-bottom: 1px solid #eee;
		border-radius: 0 0.55rem 0 0;
	}
	
	.chat .chat-header img {
		float: left;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
		width: 45px;
	}
	
	.chat .chat-header .chat-about {
		float: left;
		padding-left: 10px;
	}
	
	.col-md-3 {
		-ms-flex: 0 0 25%;
		-webkit-box-flex: 0;
		flex: 0 0 25%;
		max-width: 25%;
	}
	
	.col-md-9 {
		-ms-flex: 0 0 75%;
		-webkit-box-flex: 0;
		flex: 0 0 75%;
		max-width: 75%;
	}
	
	.chat-box .chat-content {
		background-color: #f9f9f9 !important;
		height: 300px;
		overflow: hidden;
		padding-top: 25px !important;
	}
	
	.card .card-body {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.card .card-body,
	.card .card-footer {
		background-color: transparent;
		padding: 20px 25px;
	}
	
	.card-body {
		-ms-flex: 1 1 auto;
		-webkit-box-flex: 1;
		flex: 1 1 auto;
		min-height: 1px;
		height: 150px;
		background-color: rgb(66, 66, 66);
		border: 1px solid rgb(255, 255, 255);
		background-clip: padding-box;
		border-radius: 5px;
	}
	
	.chat-box .chat-content .chat-item {
		display: inline-block;
		width: 100%;
		margin-bottom: 25px;
	}
	
	.chat-box .chat-content .chat-item {
		display: inline-block;
		width: 100%;
		margin-bottom: 25px;
	}
	
	.chat-box .chat-content .chat-item>img {
		float: left;
		width: 50px;
		border-radius: 50%;
	}
	
	.chat-box .chat-content .chat-item.chat-right img {
		float: right;
	}
	
	img {
		vertical-align: middle;
		border-style: none;
	}
	
	.chat-box .chat-content .chat-item .chat-details {
		margin-left: 70px;
	}
	
	.chat-box .chat-content .chat-item .chat-details .chat-text {
		box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
		background-color: #fff;
		padding: 10px 15px;
		border-radius: 3px;
		width: auto;
		display: inline-block;
		font-size: 12px;
	}
	
	.chat-box .chat-content .chat-item .chat-details .chat-time {
		margin-top: 5px;
		font-size: 12px;
		font-weight: 500;
		opacity: 0.6;
	}
	
	.chat-box .chat-content .chat-item.chat-right .chat-details {
		margin-left: 0;
		margin-right: 70px;
		text-align: right;
	}
	
	.chat-box .chat-content .chat-item .chat-details {
		margin-left: 70px;
	}
	
	.chat-box .chat-content .chat-item.chat-right .chat-details .chat-text {
		text-align: left;
		background-color: #6777ef;
		color: #fff;
	}
	
	.chat-box .chat-content .chat-item .chat-details .chat-text {
		box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
		background-color: #fff;
		padding: 10px 15px;
		border-radius: 3px;
		width: auto;
		display: inline-block;
		font-size: 12px;
	}
	
	.chat-box .chat-content .chat-item .chat-details .chat-time {
		margin-top: 5px;
		font-size: 12px;
		font-weight: 500;
		opacity: 0.6;
	}
	
	.chat-box .chat-form {
		padding: 0;
		position: relative;
	}
	
	.card .card-footer {
		background-color: transparent;
		border: none;
	}
	
	.card-footer:last-child {
		border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
	}
	
	.chat-box .chat-form .btn {
		padding: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		right: -5px;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
	}
	
	.btn-primary {
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
		outline: none;
		cursor: pointer;
	}
	
	.chat-box .chat-form .form-control {
		border: none;
		height: 50px;
		font-size: 13px;
		font-weight: 500;
		outline: none;
		width: 90%;
	}
	
	.form-control {
		display: block;
		width: 97%;
		height: calc(1.5em + .75rem + 2px);
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		-webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
		transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	}
	
	.chat-header .home-ico {
		float: left;
	}
	
	.chat-header .home-ico i {
		font-size: 45px;
	}
	/*聊天工具栏*/
	
	.chat-bar {
		padding: 5px 15px;
		position: relative;
	}
	
	.chat-bar i {
		font-size: 20px;
		cursor: pointer;
		color: #495057;
	}
	
	.chat-emotion {
		position: absolute;
		z-index: 99;
		left: 35px;
		top: 10px;
		width: 390px;
		height: 140px;
		padding: 5px;
		background: #fff;
		border: 1px solid #999999;
	}
	
	.chat-bar .emot-list li {
		float: left;
	}
	
	.chat-bar .emot-list li img {
		cursor: pointer;
		border: 1px #fff solid;
	}
	
	.chat-bar .emot-list li img:hover {
		border: 1px #0066cc solid;
	}
	
	.chat-tip {
		position: absolute;
		right: 10px;
		bottom: 5px;
		font-size: 10px;
		color: #495057;
	}
	
	[v-cloak] {
		display: none;
	}
	/*自适应css*/
	
	@media (max-width: 1024px) {
		.container {
			padding: 0 30px;
			width: 100% !important;
		}
	}
	
	@media (min-width: 576px) {
		.col-sm-12 {
			-ms-flex: 0 0 100%;
			-webkit-box-flex: 0;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	
	@media (min-width: 768px) {
		.col-md-9 {
			-ms-flex: 0 0 75%;
			-webkit-box-flex: 0;
			flex: 0 0 75%;
			max-width: 75%;
		}
		.col-md-3 {
			-ms-flex: 0 0 25%;
			-webkit-box-flex: 0;
			flex: 0 0 25%;
			max-width: 25%;
		}
	}
	
	@media (min-width: 992px) {
		.col-lg-9 {
			-ms-flex: 0 0 75%;
			-webkit-box-flex: 0;
			flex: 0 0 75%;
			max-width: 75%;
		}
	}